<a href="https://colab.research.google.com/github/rogieleneduman/CPE21A-PLD-1-2/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Indentation

In [28]:
if 5>3:
  print("5 is greater than 3")

5 is greater than 3

#Variable Declaration

In [32]:
#variable with a single value

x=5
y=3
if x<y:
  print("x is greater than y")
else:
    print ("y is greater than")

#variable with multiple values

a,b = 1,2
print("The value of a is:",a)
print("The value of b is:",b)

#multiple variables with a single value

p=q=r= "cutie"
print(p)
print(q)
print(r)

y is greater than
The value of a is: 1
The value of b is: 2
cutie
cutie
cutie

#Casting and Type() function

In [25]:
f = int(4) #integer
g = float(4) #decimal/fractional

print(f)
print(g)

print(type(f))
print(type(g))

4
4.0
<class 'int'>
<class 'float'>

#Double quote or single quote

In [13]:
name = "Rogielene"
name1 = "Ann Mae"
name2 = "Duman"

print(name)
print(name1)
print(name2)

Rogielene
Ann Mae
Duman

#Case Sensitive

In [17]:
a = "Rogielene"
print(a)

Rogielene

#Output Variable

In [31]:
c = "is cool!"
print("Python Programming"+c) #append is cool!

t = "Python"
z = t+c
print(z)

Python Programmingis cool!
Pythonis cool!